body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0b0d17; /* Dark background similar to the one in your image */
}

.footer {
  position: relative;
  padding: 20px;
  background-color: #0b0d17;
  text-align: center;
  color: white;
  border-top: 1px solid #282c34;
}

.footer a {
  color: #00dfb9;
  text-decoration: none;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-buttons {
  display: flex;
  gap: 15px;
}

.footer-icon {
  cursor: pointer;
  font-size: 18px;
}

.create-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #9b4dff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.create-btn:hover {
  background-color: #d069ff;
  transform: scale(1.1);
}
#link{
  color:#fff
}