<section class="container my-5">
  <div class="aboutme text-center mb-4">
    <h2>About Me</h2>
  </div>
  
  <div class="d-flex flex-column flex-md-row justify-content-between pt-5 pb-5 gap-3">
    <div class="title flex-grow-1 mb-3 mb-md-0">
      <h3 class="titleWHo">Who I'm?</h3>
      <div class="para">
        I am Leila, a front-end developer passionate about 
        creating dynamic and user interfaces. 
        I have experience with Angular and React (especially),
        using them to build engaging web applications.
        Through my engineering studies, I have gained a solid
        understanding of web development principles, focusing 
        on user interface design and interactive features.
        I enjoy enhancing user experiences and am eager to 
        collaborate on innovative projects. Feel free to reach 
        out to discuss opportunities or share ideas!
      </div>
    </div>

    <div class="education d-flex flex-column gap-3 p-3">
      <div class="text-center"><h4>2020 - 2025</h4></div>
      <div>
        <h5>BACHELOR OF ENGINEERING</h5>
        <hr width="90%" class="text-center">
        <p>Computer and systems engineering</p>
        <p class="text-center">Al-Azhar University</p>
      </div>
    </div>
  </div>
  
  <hr width="90%" class="text-center">
</section>
