<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" id="logo" href="#" >{{username}}</a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNav" aria-expanded="!isCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        
          <li class="nav-item">
            <a class="nav-link" href="#">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container p-1">
  <div class="d-flex justify-content-center" [@fadeIn]>
      <div class="me d-flex flex-column p-3 grow" id="whoiam">
          <h1 class="me-title">
              Hello,<br>
              This is <span class="name">{{username}}</span>, I'm 
              a Professional <span class="name">{{majorname}}</span>.
          </h1>
          <div class="my-3 d-flex align-items-center gap-3 left ">
              <a target="_blank" class="text-danger" href="">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="30" width="30" xmlns="http://www.w3.org/2000/svg" class="icon">
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                  </svg>
              </a>
              <a target="_blank" class="text-primary" href={{linkedin}}>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="30" width="30" xmlns="http://www.w3.org/2000/svg" class="icon">
                      <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13A1.5 1.5 0 0 0 16 14.5v-13A1.5 1.5 0 0 0 14.5 0h-13zM5.5 14h-2V7.5h2V14zM4.5 6.5A1.5 1.5 0 1 1 4.5 3a1.5 1.5 0 0 1 0 3.5zm9 7h-2v-3.5c0-1.7-.5-2.5-1.5-2.5S9 9.5 9 11.5V14h-2V7.5h2v1.3c.3-.5 1.1-1.3 2.5-1.3 1.5 0 2.5.5 2.5 2.5V14z"></path>
                  </svg>
              </a>
              <a target="_blank" class="text-info" href={{twitter}}>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="30" width="30" xmlns="http://www.w3.org/2000/svg" class="icon">
                      <path d="M5.026 15.298C3.152 15.298 1.611 14.482.535 13.296c.31.035.624.053.947.053 1.853 0 3.557-.628 4.905-1.688-1.732-.034-3.203-1.167-3.709-2.722.244.045.493.07.747.07.366 0 .726-.049 1.066-.14-1.82-.365-3.203-1.974-3.203-3.91v-.049c.54.301 1.155.484 1.806.506-.896-.596-1.486-1.61-1.486-2.763 0-.614.165-1.188.455-1.679 1.646 2.019 4.112 3.344 6.886 3.485-.056-.246-.085-.502-.085-.758 0-1.835 1.496-3.33 3.33-3.33.958 0 1.826.404 2.433 1.055.76-.148 1.48-.43 2.125-.815-.248.773-.773 1.425-1.458 1.838.673-.08 1.315-.258 1.914-.516-.442.661-1.015 1.243-1.668 1.703z"></path>
                  </svg>
              </a>
          </div>
          <div class="d-flex gap-2">
              <button class="btn buttn "><a class="nav-link" href={{resume}}>Download CV</a></button>
              <button class=" butnn1 btn  " id="butnn1">Contact me</button>
          </div>
      </div>
      <div class="img p-5">
          <img [src]="img" alt="" width="80%" height="100%">
      </div>
  </div>
  <hr width="90%" class="text-center">
</div>
<section class="container my-5">
  <div class="aboutme text-center mb-4">
    <h2>About Me</h2>
  </div>
  
  <div class="d-flex flex-column flex-md-row justify-content-between pt-5 pb-5 gap-3">
    <div class="title flex-grow-1 mb-3 mb-md-0">
      <h3 class="titleWHo">Who I'm?</h3>
      <div class="para">
        {{descripe}}
      </div>
    </div>

    <div class="education d-flex flex-column gap-3 p-3">
      <div class="text-center"><h4>{{graduation}}</h4></div>
      <div>
        <h5>{{faculty}}</h5>
        <hr width="90%" class="text-center">
        <p>{{Specialize}}</p>
        <p class="text-center">{{majorname}}</p>
      </div>
    </div>
  </div>
  
  <hr width="90%" class="text-center">
</section>
<section class="container skills">
  <div class="container">
    <div style="text-align: center;">
      <h2 class="mb-5">Skills</h2>
    </div>
    
    <div class="row d-flex flex-row">
        <div class="col">
          <div class="card text-center bodyCard" style="width: 7rem; height: 8rem">
            <img [src]="img1" class="card-img-top  " alt="..." style="width: 100%; height:4rem">
            <div class="card-body">
              <p class="card-title text-center">{{titleWorkSkill1}}</p> 
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center bodyCard" style="width: 7rem; height: 8rem">
            <img [src]="img2" class="card-img-top  " alt="..." style="width: 100%; height:4rem">
            <div class="card-body">
              <p class="card-title text-center">{{titleWorkSkill2}}</p> 
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center bodyCard" style="width: 7rem; height: 8rem">
            <img [src]="img3" class="card-img-top  " alt="..." style="width: 100%; height:4rem">
            <div class="card-body">
              <p class="card-title text-center">{{titleWorkSkill3}}</p> 
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<section class="p-5 projects">
  <div class="project-container">
    <div class="project">
      <img [src]="projectImg1" alt="" class="project-image" />
      <div class="overlay">
        <h2>{{projectTitle1}}</h2>
        <p>{{projectTool1}}</p>
      </div>
    </div>
    
    <div class="buttons">
      <a [href]="" target="_blank" class=" buttn btn">Live Demo</a>
      <button class=" buttn btn" >Next</button>
    </div>
  </div>
</section>
<section class="contact-section" style=" padding: 40px;">
  <div class="container">
    <h2 class="text-uppercase mb-4" style="color:rgb(22 242 179);">Contact with Me</h2>
    <p style="color: #fff;" class="m-5">If you have any questions or concerns, please don't hesitate to contact me. I am open to any work opportunities that align with my skills and interests.</p>

    <div class="row">
      <!-- Contact Form -->
      <div class="col-md-6">
        <div style="border: 2px solid #1c1c1c; padding: 20px; border-radius: 10px;">
          <form>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Your Name" style=" border: none; color: white;" required>
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Your Email" style=" border: none; color: white;" required>
            </div>
            <div class="mb-3">
              <textarea class="form-control" rows="5" placeholder="Your Message" style=" border: none; color: white;" required></textarea>
            </div>
            <div class="mb-3">
              <!-- reCAPTCHA checkbox (replace this with actual reCAPTCHA later) -->
              <input type="checkbox" required> <span style="color: white;">I'm not a robot</span>
            </div>
            <button type="submit" class="btn btn-block w-100" style=" background: linear-gradient(90deg, rgba(124,58,237,1) 0%, rgba(9,9,121,1) 0%, rgba(93,32,133,1) 0%, rgba(180,56,145,1) 100%, rgba(236,72,153,1) 100%);
              ; color: white; border-radius: 25px;">Send Message <i class="fas fa-paper-plane"></i></button>
          </form>
        </div>
      </div>

      <!-- Contact Info -->
      <div class="col-md-6 p-3 text-start contact-info" style="color: white;">
        <p><i class="fas fa-envelope"></i> {{email}}</p>
        <p><i class="fas fa-phone"></i>{{phone}} </p>
        <!-- <p><i class="fas fa-map-marker-alt"></i> </p> -->

        <!-- Social Media Icons -->
        <div class="social-icons mt-4" style="font-size: 24px;">
          <!-- <a href="#" style="color: #fff; margin-right: 15px;"><i class="fab fa-github"></i></a> -->
          <a href="#" style="color: #fff; margin-right: 15px;"><i class="fab fa-linkedin"></i>{{linkedin}}</a>
          <a href="#" style="color: #fff; margin-right: 15px;"><i class="fab fa-x-twitter"></i>{{twitter}}</a>
          <a href="#" style="color: #fff; margin-right: 15px;"><i class="fab fa-facebook"></i>{{facebook}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="footer-content">
    <p>© Developer Portfolio by <a href="#">Laila Zamel</a></p>
    <div class="footer-buttons">
      <span class="footer-icon">★</span> 
      <span class="footer-icon">⎇</span>
    </div>
  </div>
  <button class="create-btn">Create</button>
</footer>

